.h2-title{
  font-weight: 700;
  margin: 0 0 25px;
  font-size: 27px;
}
.property-content .facilities-list li{
  width: 100%;
  float:none;
}
.property-2 .facilities-list li{
  float: none;
}
.banner-right-cost{
  position: relative;
}
.banner-right-cost .title{
  background: #313f7a;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 22px;
}
.banner-right-cost .action-link{
  background: #313f7a;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 22px;
}
.banner-right-cost .action-link a{
  color: #fff;
  text-decoration: none;
}
.banner-slider-home .banner .banner-slider-inner .big-title-slider {
  font-size: 40px;
  color: #fff;
  margin: 0 0 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.banner-slider-home .banner .banner-slider-inner p {
  font-size: 18px;
}
.btn-slider-honme{
  padding: 10px 15px 10px 15px;
}
.banner-ads-home{
  margin-top: 20px;
}
.content-post-home .property-content .title {
  font-size: 15px;
  line-height: 1.4
}
.block-sale-open .content-post-home .property-content .title {
  height: 40px;
  overflow: hidden;
}
.new-post-home .content-post-home .property-content .title {
  height: 40px;
  overflow: hidden;
}
.new-post-home .content-post-home .property{
  height: 150px;
  overflow: hidden;
}
.block-sale-open .content-post-home .property-img img {
  height: 150px;
}
.new-post-home .content-post-home .property-img img {
  height: 150px;
}
.content-post-home .property .property-content {
  padding: 0px 10px 0px 20px !important;
}
/* .content-post-home .property{
  max-height: 150px;
} */
.content-post-home .property-content .facilities-list li{
  line-height: 20px;
  font-size: 13px;
}
.nopadding{
  padding: 0 !important;
}
.block-left-content .title-block-product h2 {
  font-weight: 600;
  margin: 0;
  line-height: 40px;
}

.block-left-content .view-all-link {
  line-height: 40px;
}

.block-left-content .title-block-product {
  height: 40px;
  margin: 20px 0 0px 0;
}
.line-bottom {
  width: 100%;
  background: #ccc;
  height: 1px;
  margin-bottom: 20px;
}
.block-left-content .property-content p{
  margin: 0;
  line-height: 1.8;
}
.get-email-subcrribe{
  margin-bottom: 0;
}
.get-email-subcrribe input{
    width: 100%;
    font-size: 12px;
    height: 39px;
    color: rgb(113, 113, 113);
    padding: 11px 15px;
    border-width: 1px;
    border-color: rgb(232, 231, 231);
    border-image: initial;
    outline: none;
    border: none;
}
.custom-sidebar-widget .title-widget{
  font-size: 20px;
  margin: 0;
}
.subcribe-elm{
  padding: 0;
}
.form-get-home{
  padding: 50px 0;
}
.subcribe-elm img{
  height: 100px; 
  position: absolute;
  top: calc(50% + 20px);
}
.popular-posts.custom-sidebar-widget .media .media-left {
  padding-right: 15px;
  width: 45%;
  float: left;
}
.popular-posts.custom-sidebar-widget .media .media-heading {
  height: 56px;
  line-height: 1.4;
}
.popular-posts.custom-sidebar-widget .media .media-object {
  height: 60px;
}
.footer-info .main-title-2 h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0;
}

footer .popular-posts .media .media-left {
  width: 40%;
}
footer .popular-posts .media .media-left img{
  height: 70px;
}
footer .popular-posts .media{
  height: 70px;
  overflow: hidden;
}

footer .popular-posts .media-heading {
  line-height: 1.7;
  margin-top: 0px;
}
.content-about-page{
  padding: 70px 0;
}

#breadcrumbs{
  list-style:none;
  margin:10px 0;
  overflow:hidden;
}

#breadcrumbs li{
  display:inline-block;
  vertical-align:middle;
  margin-right:15px;
}

#breadcrumbs .separator{
  font-size:18px;
  font-weight:100;
  color:#ccc;
}
#breadcrumbs li.item-current:before {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 14px;
  margin-right: 15px;
  font-weight: 600;
}
#breadcrumbs li.item-current{
  color: #a6a6a6;
}
h3.tpl-du-an-page{
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 10px;
  line-height: 1.5;
  height: 60px;
  overflow: hidden;
}
.custom-navigation-page .page-numbers li{
  display: inline;
  border-radius: 0% !important;
  margin: 0 5px 5px;
  text-align: center;
  padding: 7px 14.50px;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.custom-navigation-page .page-numbers li:hover{
  background: #ffb14d;
    border-color: #ffb14d;
}
.custom-navigation-page .page-numbers li a{
  font-size: 18px;
  color: #212529;
}
.custom-navigation-page .page-numbers li.active{
  background: #ffb14d;
  border-color: #ffb14d;
}
.custom-navigation-page .page-numbers li span.current{
  font-size: 18px;
  color: #fff;
}
.container-block-du-an{
  padding: 70px 0;
}
.more-link-text{
  margin-top: 15px;
}
.more-link-text a{
  color: #ffb14d;
}
.button-theme-ct{
  background: #ffb14d !important;
  border: 2px solid #ffb14d !important;
  cursor: pointer !important;
  padding: 15px 25px 13px 25px !important;
  letter-spacing: 1px !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  color: #555;
  background: transparent;
  transition: .5s;
  border-radius: 2px;
  border: none;
}
.button-theme-ct:hover{
  background: #df0024 !important;
  border: 2px solid #df0024 !important;
}
footer .popular-posts .media-heading a{
  color: #fff;
}
footer caption{
  color: #fff;
}
.main-logo-img {
  padding: 20px 0;
}
.banner-tuyen-dung{
  height: 120px;
  display: flex;
  align-items: center;
}
.subcribe-elm {
  background: #bebebe !important;
}